<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/img-perfil.jpg" type="image/x-icon">
    <title>Laura Muñoz/Blog</title>
</head>
<body>

    <header class="hero">
        <h1 class="title">Laura Muñoz</h1>
        <nav class="nav">
            <ul class="nav-list">
                <li class="link"><a href="/index.html">Experiencia</a></li>
                <li class="link"><a href="/components/blog.html" target="_blank">Blog</a></li>
                <li class="link"><a href="#contact">Contactame</a></li>
            </ul>
            <div class="nav-icons">
                <img src="/icon/menu-hamburguesa.svg" class="menu-hamburguesa" alt="">
            </div>
        </nav>
    </header>


    <section class="about">
        <img src="/img/about.jpg" alt="imagen de laura">
        <h2>Sobre mí</h2>
        <p> Nací en Bogotá, pero fue en Barrancabermeja donde pasé mi adolescencia y descubrí que el camino pedagógico no   era mi vocación. Lo que sí encontré fue una fuerte motivación por los procesos, la eficiencia y la organización.
            Vengo de una familia trabajadora. Mi madre estudió y trabajó al mismo tiempo, lo que me llevó a desarrollar una fuerte independencia desde muy joven. Estudié en el SENA inicialmente por falta de recursos, pero con esfuerzo y compromiso fui abriéndome camino. Mientras estudiaba, también apoyaba a niños con asesorías escolares, reforzando mi deseo de ser útil y productiva.
            Aunque hubo obstáculos económicos, nunca fueron excusa. Busqué becas, pedaleé largas distancias en bicicleta para ir al trabajo y luego a clase, y hasta adquirí mi primera moto con esfuerzo propio. No fue un camino fácil, pero sí uno del que me siento profundamente orgullosa.
            Siempre he sido una persona que busca soluciones más que quejas. Prefiero aprender que rendirme, escuchar antes que discutir. Y aunque eso me llevó en ocasiones a ser aprovechada por otros, hoy —gracias al aprendizaje y al amor propio— he aprendido a poner límites, cuidar mi energía y avanzar con más claridad.
            Estoy construyendo una versión más fuerte de mí, en lo personal y lo profesional.
        </p>
    </section>
    

    <section class="personal">
        <div class=" titleCaminos">
            <img src="/icon/camino.png" alt="icono alumno animado" class="iconAlumno">
            <h1>Caminos de una Ingeniera</h1>
        </div>

        <div class="sectionCards2">

            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De la bicicleta a la oficina: cuando el esfuerzo vale más que el transporte</h2>
                    <p class="paragraphPersonal">Hubo un tiempo en que recorría 30 minutos en bicicleta para llegar a mi trabajo en Fedagro. Después, seguía directo a la universidad. No había carro, ni moto, pero sí había ganas. Esa rutina me enseñó que el verdadero motor es interno. No se mide en caballos de fuerza, sino en determinación.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div>  

            <div class="card2">
                <img src="/img/logo-sena.crdownload" alt="Logo del SENA">
                <div class="card-content">
                    <h2>Estudiar sin dinero: lo que aprendí más allá del aula</h2>
                    <p class="paragraphPersonal">Entré al SENA sin saber si tendría con qué continuar. Y terminé una carrera profesional. Busqué becas, estudié con frío, con hambre, con sueño. Lo más valioso no fue el diploma, sino darme cuenta de lo que soy capaz cuando tengo un propósito claro.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>   
            </div>

            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>Ser buena no es ser débil: aprendí a poner límites</h2>
                    <p class="paragraphPersonal">Siempre fui de las que decían sí, de las que entendían, aguantaban, callaban. Con los años y gracias a personas como mi esposo, amigos cercanos y mis padres, aprendí que poner límites no es ser grosera: es ser justa conmigo misma. Hoy me cuido más, sin dejar de ser empática.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>No tener miedo de aprender desde cero</h2>
                    <p class="paragraphPersonal">Cuando entré a trabajar por primera vez, muchas cosas no las sabía. Pero nunca me paralizó no saber. Pedía ayuda, anotaba todo, aprendía observando y practicando. A veces el mayor talento no es saberlo todo, sino tener actitud para aprenderlo todo.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>Del SENA a la ingeniería: el camino sí se puede</h2>
                    <p class="paragraphPersonal">Empecé mi formación técnica , fue ahí donde descubrí mi pasión. Luego pasé a la universidad pública, con esfuerzo y fe. A veces la vida no te da el camino más directo, pero sí el que más te fortalece.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>La independencia no siempre es elección</h2>
                    <p class="paragraphPersonal">Desde niña aprendí a ser independiente porque las circunstancias lo exigieron. Mi mamá trabajaba y estudiaba. Yo aprendí a hacer mis cosas sola, a resolver mis problemas sin contar mucho. Hoy agradezco esa independencia, aunque a veces haya pesado. Me formó en silencio.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>Cuidar de mí también es una prioridad</h2>
                    <p class="paragraphPersonal">Me costó tiempo entender que no todo es trabajo o cumplir con los demás. A veces también necesito descansar, cuidar de mi salud mental, tener espacio para mí. No soy una máquina de producir. Soy una persona que también merece ser cuidada, empezando por mí misma.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>Mi primera moto, mi primer gran paso</h2>
                    <p class="paragraphPersonal">La compré con dinero prestado, pero fue una victoria inmensa. La moto no era solo un vehículo: era mi símbolo de libertad, de autonomía, de llegar más lejos sin depender de nadie. Cada vez que la manejo, recuerdo de dónde vengo.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>Mi compañero de vida, mi maestro silencioso</h2>
                    <p class="paragraphPersonal">Llevo casi tres años con una persona que me enseñó lo que nadie: a poner límites, a decir “no” sin culpa, a que ser bondadosa no implica dejarse pasar por encima. Su amor me hizo más fuerte, más clara, más libre.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>No todo lo que duele es malo</h2>
                    <p class="paragraphPersonal">Algunas decepciones laborales, personas que se aprovecharon, caminos que no se dieron... todo eso también me trajo hasta aquí. Aprendí que el dolor no siempre es derrota; a veces es empuje, impulso, transformación.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>No necesito gritar para hacerme escuchar</h2>
                    <p class="paragraphPersonal">Soy una persona tranquila. No grito, no impongo. Pero eso no significa que no tenga voz. Con respeto y claridad también se construye autoridad. La firmeza no siempre necesita volumen.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>La eficiencia no es solo en la oficina</h2>
                    <p class="paragraphPersonal">Aprendí a ser eficiente en la vida: con el dinero, con el tiempo, con la energía. A veces la mejor logística está en casa, organizando lo poco para lograr mucho. La ingeniería también se vive.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>La gratitud es mi punto de partida</h2>
                    <p class="paragraphPersonal">No tengo todo lo que quiero, pero valoro profundamente todo lo que tengo. Cada beca, cada empleo, cada persona que me tendió una mano. Agradecer es una forma de crecer.</p>
                    <a href="" " class="btnPersonal">Leer mas</a>
                </div>
            </div> 

            

        </div>
        <button id="toggleCards" class="btnVerMas">Ver más</button>
    </section>


    <section class="footer">
        <footer class="footerOne">
            <div class="footerItems">
                <img src="/icon/ubicacion.png" alt="logo de ubicación">
                <span>Girón, Santander/Colombia</span>
            </div>
            <div class="footerItems">
                <img src="/icon/correo-de-propaganda.png" alt="logo de email">
                <span>Email:  laumilegomez21@gmail.com</span>
            </div>
            
            <div class="footerItems">
                <a href="https://www.linkedin.com/in/laura-milena-mu%C3%B1oz-g-3619a0183/" target="_blank"><img src="/icon/linkedin.svg" alt="logo de linkeidn"></a>
                
            </div>
        </footer>
    </section>
    

    <script src="/js/menu.js"></script>
    <script src="/js/read.js"></script>
    <script src="/js/readPersonal.js"></script>


</body>
</html>