<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/img-perfil.jpg" type="image/x-icon">
    <title>Laura Muñoz/Blog</title>
</head>
<body>

    <header class="hero">
        <h1 class="title">Laura Muñoz</h1>
        <nav class="nav">
            <ul class="nav-list">
                <li class="link"><a href="/index.html">Experiencia</a></li>
                <li class="link"><a href="/components/blog.html" target="_blank">Blog</a></li>
                <li class="link"><a href="#contact">Contactame</a></li>
            </ul>
            <div class="nav-icons">
                <img src="/icon/menu-hamburguesa.svg" class="menu-hamburguesa" alt="">
            </div>
        </nav>
    </header>


    <section class="about">
        <img src="/img/about.jpg" alt="imagen de laura">
        <h2>Sobre mí</h2>
        <p> Nací en Bogotá, pero fue en Barrancabermeja donde pasé mi adolescencia y descubrí que el camino pedagógico no   era mi vocación. Lo que sí encontré fue una fuerte motivación por los procesos, la eficiencia y la organización.
            Vengo de una familia trabajadora. Mi madre estudió y trabajó al mismo tiempo, lo que me llevó a desarrollar una fuerte independencia desde muy joven. Estudié en el SENA inicialmente por falta de recursos, pero con esfuerzo y compromiso fui abriéndome camino. Mientras estudiaba, también apoyaba a niños con asesorías escolares, reforzando mi deseo de ser útil y productiva.
            Aunque hubo obstáculos económicos, nunca fueron excusa. Busqué becas, pedaleé largas distancias en bicicleta para ir al trabajo y luego a clase, y hasta adquirí mi primera moto con esfuerzo propio. No fue un camino fácil, pero sí uno del que me siento profundamente orgullosa.
            Siempre he sido una persona que busca soluciones más que quejas. Prefiero aprender que rendirme, escuchar antes que discutir. Y aunque eso me llevó en ocasiones a ser aprovechada por otros, hoy —gracias al aprendizaje y al amor propio— he aprendido a poner límites, cuidar mi energía y avanzar con más claridad.
            Estoy construyendo una versión más fuerte de mí, en lo personal y lo profesional.
        </p>
    </section>
    

    <section class="personal">
        <div class=" titleCaminos">
            <img src="/icon/camino.png" alt="icono alumno animado" class="iconAlumno">
            <h1>Caminos de una Ingeniera</h1>
        </div>

        <div class="sectionCards2">

            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div>  

            <div class="card2">
                <img src="/img/logo-sena.crdownload" alt="Logo del SENA">
                <div class="card-content">
                    <h2>Tecnología en Gestión de la Producción Industrial</h2>
                    <p>Optimizar procesos productivos aplicando técnicas de gestión y calidad. Lidera conenfoque    sostenible, social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>   
            </div>

            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 
            <div class="card2">
                <img src="/img/logo-unipaz-oficial.png" alt="logo de una carretera">
                <div class="card-content">
                    <h2>De una biscicleta a la oficina</h2>
                    <p>Diseña, gestiona y optimiza sistemas productivos en industria y servicios. Lidera    concalidad, ética y conciencia social y ambiental.</p>
                    <a href="" " class="btn">Leer mas</a>
                </div>
            </div> 

            

        </div>
    </section>

















    <!-- <section class="footer">
        <footer class="footerOne">
            <div class="footerItems">
                <img src="/icon/ubicacion.png" alt="logo de ubicación">
                <span>Girón, Santander/Colombia</span>
            </div>
            <div class="footerItems">
                <img src="/icon/correo-de-propaganda.png" alt="logo de email">
                <span>Email:  laumilegomez21@gmail.com</span>
            </div>
            
            <div class="footerItems">
                <a href="https://www.linkedin.com/in/laura-milena-mu%C3%B1oz-g-3619a0183/" target="_blank"><img src="/icon/linkedin.svg" alt="logo de linkeidn"></a>
                
            </div>
        </footer>
    </section> -->
    

    <script src="/js/menu.js"></script>
    <script src="/js/read.js"></script>
    <script src="/js/animation.js"></script>


</body>
</html>